::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #1465fd;
}

::selection {
  color: #fff;
  background: #80a1ea;
}
.usePoppins {
  font-family: "Poppins", sans-serif;
}
.useRobotoCondensed {
  font-family: "Roboto Condensed", sans-serif;
}