.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.pageLink {
  position: relative;
  display: block;
  color: var(--chakra-colors-gray-500);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-inline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (max-width: 30em) {
  .pageItem{
    display: none;
  }
  .pageItem.active{
    display: block;
  }
  .pageItem:first-child{
    display: block;
  }
    .pageItem:last-child{
        display: block;
    }
}

.pageItem:first-child{
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-left: 1px solid #dee2e6;
}
.pageItem:last-child{
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-right: 1px solid #dee2e6;
  display: block;
}
@media (prefers-reduced-motion: reduce) {
  .pageLink {
    transition: none;
  }
}
.pageLink:hover {
  z-index: 2;
  color: var(--chakra-colors-blue-400);
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.pageLink:focus {
  z-index: 3;
  color: var(--chakra-colors-blue-400);
  background-color: #e9ecef;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.pageItem:not(:first-child) .pageLink {
  margin-left: -1px;
}
.pageItem.active .pageLink {
  z-index: 3;
  color: #fff;
  background-color: var(--chakra-colors-blue-500);
  border-color: var(--chakra-colors-blue-500);
}
.pageItem.disabled .pageLink {
  color: var(--chakra-colors-gray-200);
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}

.pageLink {
  padding: 0.375rem 0.75rem;
}


.pageItem:first-child .pageLink {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.pageItem:last-child .pageLink {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.paginationLg .pageLink {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}
.paginationLg .pageItem:first-child .pageLink {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.paginationLg .pageItem:last-child .pageLink {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.paginationSm .pageLink {
  font-size: 0.875rem;
}
.paginationSm .pageItem:first-child .pageLink {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.paginationSm .pageItem:last-child .pageLink {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}